<div class="row center midbox">
  <div class="col-md-4">
  </div>


  <div class="col-md-4">
    <div>
      <h1>Please Log in</h1>
    </div>

    <div>
      <%= form_tag "/login", method: :post do %>
        <div class="well">
          <div class="well">
            Email: <input type="email" name="email">
          </div>
        
          <div class="well">
            Password: <input type="password" name="password">
          </div>
        
          <div class="well">
            <input type="submit" name="Log In">
          </div>
        </div>
        <% end %>
    </div>
  </div>

  <div class="col-md-4">
  </div>


</div>