<h1>update your email address</h1>

<%= form_tag "/users/#{@user.id}", method: :patch do %>
 
  <p>Email: <input type="email" name="email" value="<%= @user.email %>"></p>
  <p><input type="submit" name="Update User info"></p>

  <% end %>

  <%= link_to "Delete this account", "/users/#{@user.id}", method: :delete %>
