<div ng-app="app">
    <div ng-controller="angularCtrl" ng-init="setup(<%= current_user.id %>)">
        <div id="myaccount">
            <div class="container">
                <div class="text-center ">
                    <!-- /.pricing title -->
                    <h2 class="wow fadeInLeft">Welcome :  <%= current_user.first_name %> </h2>
                    <div class="title-line wow fadeInRight"></div>
                </div>
                <div class="row account-details">

                    <!-- /.account-control -->
                    <div class="col-sm-3 account-control padding-b-50 padding-t-50">
                        <div class="panel panel-default sidebar-menu wow  fadeInLeft animated">
                            <div class="panel-heading">
                                <h3 class="panel-title">Control Menu</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked">
                                    <li class="active"><a href="bookings-list.html">My Events</a></li>
                                    <li><a href="/groups">Groups</a></li>
                                    <li><a href="/subgroups">Subgroups</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-9 account-data padding-b-50 padding-t-50">
                        <div id="tab2" class="box-old-booking box-section animated fadeInUp">
                            <h2 style="padding-bottom: 17px;">My Events / Assignments / Appointments</h2>

                            <table id="mybooking-list" class="table booking-list stacktable large-only">
                                <tbody>
                                    <tr>
                                        <th ng-click="toggleOrder('event_name')">Event name</th>
                                        <th ng-click="toggleOrder('event_description')">Description</th> 
                                        <th ng-click="toggleOrder('event_date')">Date of event (or assigned date)</th> 
                                        <th ng-click="toggleOrder('due_date')">Due Date</th> 
                                        <th ng-click="toggleOrder('registration_deadline')">Registration Deadline</th>
                                        <th ng-click="toggleOrder('subgroup_name')">Subgroup Name</th>
                                        <th>Cld b reg button?</th>
                                    </tr>

                                    <tr ng-repeat="event in userEvents | orderBy:orderAttribute:isDescending">
                                        <td> {{event.event_name}} </td>
                                        <td> {{event.event_description}} </td>
                                        <td> {{event.event_date}} </td>
                                        <td> {{event.due_date}} </td>
                                        <td> {{event.registration_deadline}} </td>
                                        <td> {{event.subgroup_name}} </td>
                                        <td class="center">
                                            <a class="get-invoice btn btn-theme" href="#">
                                                <i class="pe-7s-download size-35"></i> 
                                            </a>
                                        </td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
