// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#group_name {
  padding-top: 20px;
  padding-bottom: 20px;
}

.eventBox {
  height: 300px;
}

.scrollbox {
  height: 200px;
  overflow: scroll;
}
